.searchpage-container{
    margin-top: 5vh;
}

.recipe-card {
    position: relative; /* Allow positioning of the ranking number */
    border: 2px solid #007bff; /* Blue border for the card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Hide anything overflowing the card */
}
.recipe-card:hover {
    transform: scale(1.02); /* Slightly scale up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}