.full-page-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.store-add-new-product{
    margin-top: 100px;
    margin-bottom: 10vh;
    text-align: left;
}
body {
    overflow-x: hidden;
  }
@media (max-width: 768px) {
h1 {
    font-size: 24px; /* 調整字體大小以適應小螢幕 */
}
.store-add-new-product {
      padding: 10px; /* 減少邊距讓內容更貼近屏幕 */
    }
}
img {
    max-width: 100%;  /* 確保圖片不會超過容器的寬度 */
    height: auto;     /* 保持圖片的比例 */
}
.store-add-new-product {
    padding-top: 20px; /* 根據你的 navbar 高度調整 */
  }

